.search {
  width: calc(100% - 16px);
  margin-left: 8px;
  &Form {
    width: 100%;
    display: flex;
    align-items: center;
    &Input {
      width: 100%;
    }
    &Icon {
      color: #229954;
      font-size: 24px;
      cursor: pointer;
    }
  }
}

.user {
  &Card {
    background: #d4efdf;

    &:hover {
      background: #a9dfbf;
    }
  }
}
