.search {
  width: calc(100% - 16px);
  margin-left: 8px;
  &Form {
    width: 100%;

    &Input {
      width: 100%;
    }
  }
}

.user {
  &Card {
    background: #d4efdf;

    &:hover {
      background: #a9dfbf;
    }
  }
}
