.user {
  &Image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  &Card {
    display: flex;
    gap: 8px;
    padding: 10px 8px 10px 8px;
    cursor: pointer;
    &:hover {
      background: #a9dfbf;
    }

    &Chat {
      display: flex;
      flex-direction: column;
      justify-content: center;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &Title {
      font-size: 13px;
      color: #229954;
      font-weight: 700;
      line-height: 20px;
    }

    &Subtitle {
      font-size: 12px;
      color: #52be80;
      line-height: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
