.chat {
  width: 100%;
  height: 100%;
  padding: 0 20px 0 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &Messages {
    height: calc(100% - 40px);
    width: 100%;
  }

  &Input {
    height: 40px;
  }
}
