.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: 650px) {
    width: 40%;
  }

  @media (min-width: 650px) {
    width: 40%;
  }
}

.div {
  width: 100%;
}
